nodered-flow.json
    [
        {
            "id": "37d7f76b.8d69f8",
            "type": "tab",
            "label": "Ender",
            "disabled": false,
            "info": ""
        },
        {
            "id": "ce904bf6.d38e78",
            "type": "mqtt in",
            "z": "37d7f76b.8d69f8",
            "name": "Octoprint Print Done",
            "topic": "octoPrint/event/PrintDone/#",
            "qos": "0",
            "datatype": "utf8",
            "broker": "9d9e712bf60b8c81",
            "nl": false,
            "rap": false,
            "inputs": 0,
            "x": 420,
            "y": 540,
            "wires": [
                [
                    "179c7e9a.b21511"
                ]
            ]
        },
        {
            "id": "32f3f58d.044a4a",
            "type": "debug",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 1130,
            "y": 560,
            "wires": []
        },
        {
            "id": "63dd5bc4.c0e4e4",
            "type": "mqtt out",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "topic": "sonoff/mains",
            "qos": "0",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "9d9e712bf60b8c81",
            "x": 1080,
            "y": 440,
            "wires": []
        },
        {
            "id": "179c7e9a.b21511",
            "type": "function",
            "z": "37d7f76b.8d69f8",
            "name": "OFF",
            "func": "msg.payload=\"OFF\"\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 620,
            "y": 540,
            "wires": [
                [
                    "32f3f58d.044a4a",
                    "63dd5bc4.c0e4e4",
                    "cebed14355d55d9f"
                ]
            ]
        },
        {
            "id": "edc56e9f.7c54e",
            "type": "inject",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "ON",
            "payloadType": "str",
            "x": 550,
            "y": 160,
            "wires": [
                [
                    "58e9dfb3.67c4c"
                ]
            ]
        },
        {
            "id": "58e9dfb3.67c4c",
            "type": "mqtt out",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "topic": "sonoff/switch/mains/command",
            "qos": "0",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "9d9e712bf60b8c81",
            "x": 1120,
            "y": 200,
            "wires": []
        },
        {
            "id": "d6666d50.e1a2c",
            "type": "inject",
            "z": "37d7f76b.8d69f8",
            "name": "OFF RPI",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "OFF",
            "payloadType": "str",
            "x": 540,
            "y": 320,
            "wires": [
                [
                    "cebed14355d55d9f",
                    "3e8e02a8.2fed9e"
                ]
            ]
        },
        {
            "id": "3e8e02a8.2fed9e",
            "type": "mqtt out",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "topic": "octoprint/shutdownscript",
            "qos": "0",
            "retain": "false",
            "respTopic": "",
            "contentType": "",
            "userProps": "",
            "correl": "",
            "expiry": "",
            "broker": "9d9e712bf60b8c81",
            "x": 1100,
            "y": 280,
            "wires": []
        },
        {
            "id": "70ca460f.6cb348",
            "type": "inject",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "OFF",
            "payloadType": "str",
            "x": 550,
            "y": 240,
            "wires": [
                [
                    "58e9dfb3.67c4c"
                ]
            ]
        },
        {
            "id": "bb68828049306b0c",
            "type": "inject",
            "z": "37d7f76b.8d69f8",
            "name": "OFF (30s DELAY)",
            "props": [
                {
                    "p": "payload"
                }
            ],
            "repeat": "",
            "crontab": "",
            "once": false,
            "onceDelay": 0.1,
            "topic": "",
            "payload": "OFF",
            "payloadType": "str",
            "x": 530,
            "y": 400,
            "wires": [
                [
                    "63dd5bc4.c0e4e4"
                ]
            ]
        },
        {
            "id": "c1388419582f9f93",
            "type": "mqtt in",
            "z": "37d7f76b.8d69f8",
            "name": "",
            "topic": "octoprint/shutdown",
            "qos": "2",
            "datatype": "auto-detect",
            "broker": "9d9e712bf60b8c81",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 400,
            "y": 480,
            "wires": [
                [
                    "179c7e9a.b21511"
                ]
            ]
        },
        {
            "id": "cebed14355d55d9f",
            "type": "exec",
            "z": "37d7f76b.8d69f8",
            "command": "sudo shutdown now",
            "addpay": "",
            "append": "",
            "useSpawn": "false",
            "timer": "",
            "winHide": false,
            "oldrc": false,
            "name": "",
            "x": 1080,
            "y": 360,
            "wires": [
                [],
                [],
                []
            ]
        },
        {
            "id": "9d9e712bf60b8c81",
            "type": "mqtt-broker",
            "name": "",
            "broker": "octopi.local",
            "port": "1883",
            "clientid": "",
            "autoConnect": true,
            "usetls": false,
            "protocolVersion": "4",
            "keepalive": "60",
            "cleansession": true,
            "birthTopic": "",
            "birthQos": "0",
            "birthPayload": "",
            "birthMsg": {},
            "closeTopic": "",
            "closeQos": "0",
            "closePayload": "",
            "closeMsg": {},
            "willTopic": "",
            "willQos": "0",
            "willPayload": "",
            "willMsg": {},
            "sessionExpiry": ""
        }
    ]
